<footer class="main-footer pt-5 pb-4">
    <div class="container">
        <div class="footer-content mb-5">
            <div class="row g-5">
                <div class="col-lg-3 text-center text-lg-start">
                    <div class="footer-brand">
                        <a href="#" class="logo d-inline-block mb-3">AURA</a>
                        <p>Tinh hoa nước hoa cao cấp<br>Tạo nên dấu ấn riêng biệt</p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="footer-links">
                        <div class="row">
                            <div class="col-md-6 text-center text-md-start">
                                <h4>Sản Phẩm</h4>
                                <a href="#">Nước Hoa Nam</a>
                                <a href="#">Nước Hoa Nữ</a>
                                <a href="#">Bộ Sưu Tập Limited</a>
                                <a href="#">Quà Tặng</a>
                            </div>
                            <div class="col-md-6 text-center text-md-start mt-4 mt-md-0">
                                <h4>Hỗ Trợ</h4>
                                <a href="#">Hướng Dẫn Mua Hàng</a>
                                <a href="#">Chính Sách Đổi Trả</a>
                                <a href="#">Vận Chuyển</a>
                                <a href="#">FAQ</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 text-center text-lg-end">
                    <div class="footer-social">
                        <h4>Kết Nối</h4>
                        <div class="social-icons d-flex justify-content-center justify-content-lg-end gap-3">
                            <a href="#" title="Facebook">📘</a>
                            <a href="#" title="Instagram">📷</a>
                            <a href="#" title="YouTube">📺</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom pt-4">
            <p>&copy; 2025 AURA Luxury Perfumes. Tất cả quyền được bảo lưu.</p>
        </div>
    </div>
</footer>